<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="form">
      <h1 class="head">Registraction Form</h1>

      <form action="/create" method="post">
        <div>
          <label for="First_name"> First Name</label>
          <br />
          <input type="text" name="Fname" />
        </div>

        <div>
          <br />
          <label for="Last_name"> Last Name</label>
          <br />
          <input type="text" name="Lname" />
        </div>
        <div>
          <br />
          <label for="Email"> Email</label>
          <br />
          <input type="email" name="Email" />
        </div>
        <div>
          <br />
          <label for="Mobile">Password</label>
          <br />
          <input type="password" name="Password" />
        </div>

        <br />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
